


.detail-section {
    padding: 40px;
    display: flex;
    justify-content: center;
    background: #ffffff;
}

.detail-wrapper {
    display: flex;
    gap: 30px;
    max-width: 1200px;
}

.detail-left {
    width: 55%;
}

.detail-main-img {
    width: 660px;
    border-radius: 14px;
}





.detail-small-img-row {
    display: flex;
    gap: 15px;
    margin-top: 15px;
}

.detail-small-img {
    width: 100%;  
    height: 230px;
    border-radius: 14px;
}


.slider-box {
    width: 100%;  
    height: 230px;
    overflow: hidden;   
    border-radius: 10px;
    position: relative; 
}

.slider-track {
    background: red;
     display: flex;
    width: 100%;           
    height: 100%;
    transition: transform 0.4s ease;
}

.slider-track img {
    width: 100%;  
    height: 230px;
    object-fit: cover;      
    flex-shrink: 0;        
    display: block;         
    user-select: none;
    
}

.slider-dots {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 6px;
}

.slider-dots span {
    width: 28px;
    height: 6px;
    background: rgba(255,255,255,0.4);
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
}

.slider-dots .active {
    background: #fff;
}






.detail-right {
    width: 45%;
}

.detail-top-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.gender-badge {
    
    padding: 5px 14px;
    border-radius: 50px;
    font-size: 13px;
    font-weight: 700;
    border:  black 1px solid;
}

.detail-icons {
    display: flex;
    gap: 10px;
}

.love-icon {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    background: #ffffff;
    box-shadow: 0 2px 6px rgba(0,0,0,0.15);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
}

.love-icon i {
    font-size: 20px;
    color: #000000; 
    transition: 0.3s;
}

.love-icon.active i {
    color: #ff2d2d;
}


.rec-star-btn {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    background: #ffffff;
    box-shadow: 0 2px 6px rgba(0,0,0,0.15);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
}

.rec-star-btn i {
    font-size: 20px;
    color: #000000;
    transition: 0.3s;
}

.rec-star-btn.active i {
    color: #ffcc00;
}



.rating-popup-overlay {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.55);
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 99999;
}

.rating-popup {
    position: relative; 
    width: 350px;
    background: #fff;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
    text-align: center;
}


.rating-popup h3 {
    margin-bottom: 15px;
}

.popup-stars i {
    font-size: 28px;
    cursor: pointer;
    transition: 0.2s;
}

.popup-stars i.fa-solid {
    color: gold;
}



.popup-close {
    position: absolute;
    top: 10px;
    right: 12px;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: #777;
    transition: 0.3s;
}

.popup-close:hover {
    color: #000;
}



#ratingComment {
    width: 100%;
    height: 80px;
    margin-top: 15px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #ddd;
}

#ratingSubmit {
    margin-top: 15px;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border: none;
    background: #4caf50;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

#ratingSubmit:hover {
    background: #3e8e41;
}




.kost-title {
    font-size: 26px;
    margin-top: 15px;
    margin-bottom: 5px;
}

.kost-price {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 15px;
}

.wa-btn {
    background: #25d366;
    color: white;
    padding: 10px 18px;
    border-radius: 50px;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 8px;
    font-weight: 600;
    margin-bottom: 20px;
}

.desc-card {
    background: #fff;
    padding: 25px;
    border-radius: 10px;
    max-height: 200px; 
    box-shadow: 0 3px 10px rgba(0,0,0,0.07);
}

.desc-card h3 {
    margin: 0 0 10px 0;
}

.desc-content {
    max-height: 120px;    
    overflow-y: auto;     
}


.desc-content::-webkit-scrollbar {
    width: 6px;
}

.desc-content::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 10px;
}

.desc-content::-webkit-scrollbar-track {
    background: transparent;
}


.fasilitas-card {
    margin-top: 15px;
    padding: 15px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    max-height: 200px;
    overflow: hidden;
}

.fasilitas-card h3 {
    margin-bottom: 10px;
    position: sticky; 
    top: 0;
    background: #fff;
    padding: 8px 0;
    z-index: 10; 
}

.fasilitas-grid {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 8px;
    max-height: 150px;
    overflow-y: auto;
    padding-right: 5px;
}


.fasilitas-grid::-webkit-scrollbar {
    width: 5px;
}
.fasilitas-grid::-webkit-scrollbar-thumb {
    background: #bbb;
    border-radius: 10px;
}







.kh-rating-container {
    max-width: 1200px;
    margin: 10px auto;

    display: flex;
    flex-wrap: nowrap;    
    justify-content: space-between;
    align-items: flex-start;
     flex-direction: column; 

}


.kh-rating-content {
    width: 100%;
    display: flex;
    justify-content: space-between; 
    align-items: flex-start;
    gap: 40px;
}


/* KIRI */
.kh-rating-section {
    flex: 1;
    max-width: 600px; 
}

.kh-rating-wrapper {
    display: flex;
    gap: 25px;
}

.kh-rating-left h1 {
    font-size: 138px;
    margin: 0;
}



.kh-rating-bars {
    margin-top: 12px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.kh-rating-row {
    display: flex;
    align-items: center;
    gap: 12px;
}

.kh-rating-label {
    width: 55px; 
    font-size: 14px;
    font-weight: 600;
    color: #333;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 4px; 
}

.kh-rating-label i {
    font-size: 14px;
    color: #f6b100;
}

.kh-bar {
    width: 250px;
    background: #eee;
    border-radius: 20px;
    overflow: hidden;
    height: 10px;
}

.kh-bar div {
    height: 100%;
    background: #f6b100;
}




.review-wrapper {
    flex: 1;          
    
    max-width: 550px;   
    display: flex;
    justify-content: center;
    
}

.review-box {
    width: 560px;  
    height: 220px;     
    padding: 25px;
    border: 1px solid #e5e5e5;
    border-radius: 18px;
    background: #fff;
    position: relative;
}

.review-meta {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    margin-bottom: 8px;
}

.review-meta .stars {
    color: gold;
    font-size: 18px;
    margin: 0;
}

.review-meta .date {
    margin: 0;
    color: gray;
    font-size: 12px;
}

.avatar {
    width: 25px;       
    height: 25px;
    border-radius: 50%;
    object-fit: cover;  
}



.review-track {
    display: flex;
    gap: 0;
    transition: transform 0.5s ease-in-out;
}

.review-item {
    min-width: 100%;
}


.review-item .text {
    font-size: 14px;
    color: #444;
    line-height: 1.4;
    margin-bottom: 12px;

    display: -webkit-box;
    -webkit-line-clamp: 2;      
    -webkit-box-orient: vertical;
    overflow: hidden;             
    text-overflow: ellipsis;      
}


.review-inner {
    width: 100%;
    overflow: hidden; 
}


.stars {
    color: gold;
    font-size: 20px;
    margin-bottom: 5px;
}

.date {
    color: gray;
    font-size: 12px;
    margin-top: -5px;
}

.nav-btn {
    position: absolute;
    top: 45%;
    transform: translateY(-50%);
    background: none;
    border: none;
    font-size: 28px;
    cursor: pointer;
    color: #444;
}
.nav-btn:hover {
    color: black;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

.dots {
    position: absolute;
    bottom: 12px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 6px;
}

.dots div {
    width: 8px;
    height: 8px;
    background: #ccc;
    border-radius: 50%;
}

.dots .active {
    background: black;
}

.slide-bars {
    position: absolute;
    bottom: 12px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 8px;
}

.slide-bars div {
    width: 38px;
    height: 6px;
    background: #ddd;
    border-radius: 5px;
    cursor: pointer;
    transition: 1.3s ease;
}

.slide-bars .active {
    background: #3d3d3d;
}










/* REVIEW CARD */


.recommend-rek {
    padding: 20px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.rec-section {
    position: relative;
    padding: 0 40px 0 40px ;
    width: 100%;
   

.rec-header {
    display: flex;
    justify-content: space-between;
    align-items: center;  
    margin-bottom: 20px;
    position: relative;
    z-index: 20;          
}

.rec-title {
    font-size: 24px;
    font-weight: 700;
    margin: 0;
}

.rec-btn-row {
    display: flex;
    gap: 10px;           
}

.rec-btn {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    background: #ffffff;
    color: rgb(0, 0, 0);
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .2s;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.15);

}
.rec-btn:hover {
     background: #ff8c32;
     color: #ffffff;
}

.rec-btn-row {
    display: flex;
    gap: 10px;
}





.rec-carousel-wrapper {
    overflow: hidden;
    position: relative;
    background: white;
    margin-top: 30px;
}


.rec-carousel-track {
    display: flex;
    gap: 35px;
    transition: transform .3s ease;
    cursor: grab;
    height: 380px;
}

.rec-carousel-track.dragging {
    cursor: grabbing;
    transition: none !important; 
}


.rec-card {

    flex-shrink: 0;
    width: 300px;
    height: 320px;
    background: white;
    border-radius: 15px;
    box-shadow: 0 2px 15px rgba(0,0,0,0.1);
    padding-bottom: 20px;
}

.rec-img-wrapper {
    position: relative;
}

.rec-img {
    width: 100%;
    height: 180px;
    border-radius: 15px 15px 0 0;
    object-fit: cover;
}


.rec-like-btn {
    position: absolute;
    top: 10px;
    left: 10px;

    background: white;
    width: 32px;
    height: 32px;

    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
}


.rec-like-btn i{
    font-size: 20px;
    color: #555; 
    transition: color 0.2s ease;
}


.rec-like-btn.active i{
    color: red;
    font-weight: 900;
}


.rec-tag {
    position: absolute;
    top: 10px;
    right: 10px;

    background: orange;
    color: white;

    padding: 4px 8px;
    font-size: 12px;
    border-radius: 8px;
}

.rec-info-row {
    display: flex;
    align-items: center;

}

.rec-name {
    font-size: 17px;
    font-weight: 600;
}

.rec-over{
    margin: 15px ;
}

.rec-rating {
    margin-left: auto; 
    color: #f7c325;
    font-size: 14px;
    font-weight: bold;
}

.rec-footer {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    margin-top: 15px;
    
}

.rec-price {
    
    font-weight: bold;
    color: orange;
}

.rec-price-sub {
    font-size: 12px;       
    font-weight: 400;
    color: #555;
    display: block;        
    margin-top: 3px;
}

.rec-view-btn {
    margin-left: 15px;
    padding: 7px 18px;

    border-radius: 20px;
    border: none;
    background: orange;

    color: white;
    cursor: pointer;
    font-size: 14px;
}


.rec-nav-btn {
    position: absolute;
    top: 80px;

    width: 38px;
    height: 38px;

    border-radius: 50%;
    background: white;
    border: 2px solid #eee;

    cursor: pointer;
}

.rec-prev-btn {
    right: 110px;
}

.rec-next-btn {
    right: 60px;
}


.rec-carousel-track {
    cursor: grab;
}

.rec-carousel-track:active {
    cursor: grabbing;
}

