.footer-section {
    background: #000;
    color: white;
    padding: 40px 0;
    border-top-left-radius: 45px;
    border-top-right-radius: 45px;
    margin-top: 50px;
    height: 350px;
}

.footer-container {
    max-width: 1200px;
    margin: auto;
    padding: 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 40px;
}



.footer-col {
    margin-top: 80px;
    flex: 1;
    min-width: 180px;
}

.logo-col {
    flex: 1.5; /* lebih besar seperti gambar */
}

.footer-logo {
    width: 260px;
}

.footer-col h6 {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 15px;
}

.footer-col ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-col ul li {
    margin-bottom: 8px;
    font-size: 14px;
    cursor: pointer;
    transition: 0.3s;
}

.footer-col ul li:hover {
    color: #ff7a00;
}

.footer-social {
    margin-top: 15px;
    display: flex;
    gap: 15px;
}

.footer-social i {
    font-size: 18px;
    cursor: pointer;
    transition: 0.3s;
}

.footer-social i:hover {
    color: #ff7a00;
}
